.starter {
  width: 74vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: var(--main);
}

.logo {
  border: 2px solid var(--secondary);
  margin-left: 5px;
  background: var(--main);
  padding: 12px;
  border-radius: 10px;
}
