.starter {
  width: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: var(--main);
}

.icon {
  font-size: 54px;
}

.subtitle {
  opacity: 0.6;
}
